POSTGRES_PRISMA_DATABASE_URL="postgres://user:password@host:5432/dbname?sslmode=require"
POSTGRES_URL="postgres://user:password@host:5432/dbname?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://user:password@host:5432/dbname?sslmode=require"
DATABASE_URL="postgres://user:password@host:5432/dbname?sslmode=require"
AUTH_SECRET="change-this-to-a-random-secret-string-at-least-32-chars"
NEXTAUTH_SECRET="change-this-to-a-random-secret-string-at-least-32-chars"
NEXTAUTH_URL="https://bekurgeneraltrading.com"
ADMIN_EMAIL="admin@bekur.com"
ADMIN_PASSWORD="BekurAdmin2024!"
